
*{
    text-align: center;
}
body {
    padding-top: 60px; /* ヘッダーの高さ分の余白をいれ、うしろの要素が隠れないようにする */
}
.pattern {
    height: auto;
    width: 100%;
  background-color: #fff;
  background-image: linear-gradient(#d4d4d4 1.6px, transparent 1.6px),
    linear-gradient(to right,#d4d4d4 1.6px, #fff 1.6px);
  background-size: 32px 32px;
  background-position: 50% 50%;
    z-index: -10;
    
  }
  header {
    position: fixed; /*** ← fixedで固定 ***/
    width: 100%; 
    height: 60px; 
    background: rgba(0,0,0, 0.5); 
    padding: 20px 60px; 
    box-sizing: border-box;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    z-index: 100;
  
   /* ロゴとメニューを横並びにする */
    display: flex; 
    justify-content:space-between;
}
header h1{
    color: #fff;
    font-size: 1.5rem;
}
header .nav .menu {
    display: flex; 
}

header .nav .menu li {
    list-style: none; 
    margin-left: 40px;
}

header .nav .menu li a{
   color: #e44343;
   font-weight:bold;
   text-decoration: none;
   font-size: 1rem;
}

  
  .maingazou img{
    max-width:100%;
    height: auto;
    justify-content: center;
     
  }
  .profile{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-items: center;
    margin: 50px;
    background-color: rgba(255,255,255,0.5);
    border: solid 3px;
    border-radius: 10px;/*角の丸み*/
    padding: 20px;
  }
  .profile a{
    font-size: 2.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
  }
  .profile img{
    height: 100px;
    
    border-radius: 50%;
    align-items: center;
  }
  .profile h1{
    font-size: 1.5rem;
  }
  .works{
    background-color: rgba(255,255,255,0.5);
    border: solid 3px;
    border-radius: 10px;/*角の丸み*/
    padding-top: 20px;
  }
  .works a{
    font-size: 2.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
  }
  .originalart h1{
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top:-40px;
    left:20px;
    background-color: #fff;
  }
  .houkago{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
  }
  .neiro{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
  }
  .ohanami{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
  }
  .samui{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
  }
.houkago img{
    height: 150px;
    text-align: center;
}
.neiro img{
    height: 150px;
    text-align: center;
}
.ohanami img{
    height: 150px;
    text-align: center;
}
.samui img{
    height: 150px;
    text-align: center;
}
.kari img{
    height: 150px;
    text-align: center;
}
.tiaki{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
}
.ika{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
}
.ogata{
    padding: 10px;
    background-color: #F7F9F9;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.3);
}
.tiaki img{
    height: 150px;
    text-align: center;
}
.ika img{
    height: 150px;
    text-align: center;
}
.ogata img{
    height: 150px;
    text-align: center;
    
}

.originalart{
    align-items: center;
    border: dashed 3px rgba(0,0,0, 0.5);
    margin:20px 20px 0 20px;
    padding: 30px 0 50px 0;
    position: relative;
}

.originalart-{
    display: grid;
   
    grid-template-columns: repeat(2,auto);
    grid-template-areas: 
    "houkago neiro" 
    "ohanami samui  " ;
    grid-gap:20px 1px;
    place-items: center;
}
.fanart{
    align-items: center;
    border: dashed 3px rgba(0,0,0, 0.5);
    margin:20px 20px 20px 20px;
    padding: 30px 0 50px 0;
    position: relative;
}
.fanart-{
    display: grid;
   
    grid-template-columns: repeat(2,auto);
    grid-template-areas: 
    "tiaki ika" 
    ". ogata" ;
    grid-gap:20px 0px;
    place-items: center;
}
.fanart h1{
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top:-40px;
    left:20px;
    background-color: #fff;

}
.contact{
    padding:100px;
}
.contact a{
    font-size: 2.5rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
}
.my-social {
    list-style: none; /* リストの・が邪魔なので消します */
    display: flex; /* .my-social内部をフレキシブル表示に切り替え（標準で横並びになります） */
    justify-content: center;
    margin-top: 1.5rem; /* 上部に1.5文字分の外部余白を設定 */
  }
  /* class="my-social"の中のli */
.my-social li {
    line-height: 1; /* 文字高さを1文字分とする */
    margin-right: 1rem; /* 右側に1文字分の外側余白をつける */
    font-size: 2rem; /* アイコン(文字)のサイズを2文字分とする */
  }
  /* class="my-social"の中のliの中のa */
.my-social li a {
    display: inline-block; /* リンクテキストをインラインブロック要素として表示 */
    text-decoration: none;  /* リンクテキストの装飾をなくす */
    color: var(--text-color);  /* 文字色をデフォルトのリンクカラーからこの文書の文字色へ変更 */
    cursor: pointer; /* この要素にマウスオーバーしたとき、マウスカーソルを指に変更 */
    /* 変更 : transition: 1s color; ↓に変更 */
    transition: 0.5s transform, 0.5s color;
  
    /* 下記追加分 */
    /* 文字の背景にグラデーションを設定しておきます。（現時点ではcolorに色が付いているので、このグラデーションは見えません。） */
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  /* class="my-social"の中のliの中のaにマウスカーソルが乗った時 */
.my-social li a:hover {
    color: transparent; /* 背景に設定したグラデーションが表示されるように文字色を透明（transparent）にする */
    transform: scale(1.5); /* 要素を1.5倍に変形させます */
  }

  /* モバイル用のスタイル */
@media (max-width: 600px) {
    header {
        padding: 10px 15px; /* 小さい画面ではパディングを小さく */
    }
    header h1 {
        font-size: 1.2em; /* フォントサイズを小さく */
    }
    header .nav .menu li {
        margin-left: 7px; /* マージンを小さく */
    }
    header .nav .menu li a {
        font-size: 0.8em; /* フォントサイズを小さく */
    }
}

/* タブレット用のスタイル */
@media (min-width: 601px) and (max-width: 900px) {
    header {
        padding: 15px 30px; /* 中くらいの画面ではパディングを中くらいに */
    }
    header h1 {
        font-size: 1.3em; /* フォントサイズを中くらいに */
    }
    header .nav .menu li {
        margin-left: 15px; /* マージンを中くらいに */
    }
    header .nav .menu li a {
        font-size: 0.95em; /* フォントサイズを中くらいに */
    }
}

/* PC用のスタイル */
@media (min-width: 901px){
    
    .houkago img{
        height: 500px;
        text-align: center;
    }
    .neiro img{
        height: 500px;
        text-align: center;
    }
    .ohanami img{
        height: 500px;
        text-align: center;
    }
    .samui img{
        height: 500px;
        text-align: center;
    }
    .kari img{
        height: 500px;
        text-align: center;
    }
    
    .tiaki img{
        height: 500px;
        text-align: center;
    }
    .ika img{
        height: 540px;
        text-align: center;
    }
    .ogata img{
        height: 500px;
        text-align: center;
        
    }
}