
*{
    text-align: center;
}
.houkago img{
    height: 200px;
}
.neiro img{
    height: 200px;
}
.ohanami img{
    height: 200px;
}
.samui img{
    height: 200px;
}
.kari img{
    height: 200px;
}
.tiaki img{
    height: 200px;
}
.ika img{
    height: 200px;
}
.ogata img{
    height: 200px;
}

.originalart{
    align-items: center;
}
.originalart-{
    display: grid;
   
    grid-template-columns: repeat(2,auto);
    grid-template-areas: 
    "houkago neiro" 
    "ohanami samui  " 
    "kari ." ;
    grid-gap:40px 10px;
    place-items: center;
}